* {
  margin: auto auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #252525;
}

body {
  width: 1562px;
  background-color: #161616;
}

/* alterações do header */
header nav {

  display: flex;
  background-color: #fff500;
}

header nav a{
  border: 1px solid;
  width: 324px;
  padding: 5px 20px 5px 20px;
  text-align: center;
  font-family: 'Inria Sans', sans-serif;
  font-weight: bolder;
}

header nav a {
  text-decoration: none;
  color: #000;
}

header img {
  border: 1px solid;
}

/* alterações no corpo principal */


main section img:hover{
  border: #fff500 2px solid;
}

main hr {
  color: rgb(165, 165, 165);
}

main {
  width: 1480px;
  background-color: #000;
}

main h1{
  font-family: 'Inria Sans', sans-serif;
}

.intro{
  padding: 70px;
}

.intro h1{
  padding-bottom: 15px;
}

.container{
  display:flex;
  padding: 100px 150px;
}

.text{
  font-size: larger;
  padding-left: 30px;
  padding-right: 10px;
}
/* Alterações no footer */

footer {
  background-color: #fff500;
  border: solid 1px;
  display: flex;
  height: 300px;
}


footer nav {
  font-family: 'Inria Sans', sans-serif;
  width: 700px; 
  text-align: center;
}

footer nav ul{
  width: 300px;
}

footer nav ul li {
  padding: 10px;
  list-style: none;
}

footer ul li a {
  color: #000;
  text-decoration: none;
}

footer nav ul li a:hover {
  color: blue;
  text-decoration: underline;
}

.socials {
  width: 700px;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.socials img{
  border-radius: 15%;
}

.footing {
  width: 50%;
  display: flex;
}

footer hr{
  height: 298px;
}

main hr{
  color: rgb(165, 165, 165);
}


small{
  background-color: #fff500;
}

ul hr{
  height: auto;
  margin-top: 5px;
}

small{
  background-color: #fff500;
  border: 1px solid;
}

/* formatação da tipografia */

main p,
main h1,
main h2 {
  color: #fff;
  
}

*{
  font-family: 'Roboto', sans-serif;
}